.block_evasys_sync input.in_box_button[type="submit"] {
    white-space: normal;
    width: 100%;
    margin: 2px 0;
}

.block_evasys_sync .emphasize {
    font-weight: bold;
}

.block_evasys_sync .singlebutton input[type="submit"],
.block_evasys_sync .singlebutton div {
    margin-bottom: 0;
    margin-left: 0;
}

.block_evasys_sync .linedrawer {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 2px solid #bec6c8;
}

.block_evasys_sync .flexmargin {
    display: flex;
    margin-bottom: 3px;
}

.block_evasys_sync .margin {
    margin: 5px;
}

.block_evasys_sync .inline-block {
    display: inline-block;
}


#page-admin-blocks-evasys_sync-adminsettings #course_category_table .fitemtitle {
    width: 0;
}

#page-admin-blocks-evasys_sync-adminsettings #course_category_table .felement {
    margin-left: 0;
}