.in_box_button {
    white-space: normal;
    /* Important overrides standard button size of theme also i don't know why but 98% is the right setting for every size*/
    width: 98% !important;
}

.block_evasys_sync .emphasize {
    font-weight: bold;
}

.block_evasys_sync .singlebutton input[type="submit"],
.block_evasys_sync .singlebutton div {
    margin-bottom: 0;
    margin-left: 0;
}

.inline-block {
    display: inline-block;
}


#page-admin-blocks-evasys_sync-adminsettings #course_category_table .fitemtitle {
    width: 0;
}

#page-admin-blocks-evasys_sync-adminsettings #course_category_table .felement {
    margin-left: 0;
}