{{!
@template block_evasys_sync/block
Example context (json):
{
    "href": "http://172.17.0.1/moodle/blocks/evasys_sync/invite.php",
    "sesskey": "123",
    "courseid": "4",
    "courses": [
        {
            "evasyscoursetitle": "Informatik I",
            "technicalid": "12345678",
            "evasyscourseid": "431234 SS 2019",
            "c_participants": 8,
            "surveys": [
                    {
                    "formName": "Umfrage zur Vorlesung",
                    "surveystatus": "Evaluationsstatus: offen",
                    "amountOfCompleteForms": 3
                    }
                ]
            }
        ],
    "showcontrols": true,
    "direct": false,
    "startdisabled": false,
    "enddisabled": false,
    "startoption": false,
    "onlyend": false,
    "disablesubmit": false,
    "coursemappingenabled": true,
    "nostudents": false,
    "emailsentnotice": true,
    "evaluationperiodsetnotice": false,
    "optional": true,
    "warning": false
}
}}
<form action="{{href}}" method="post" id="evasys_block_form">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="courseid" value="{{courseid}}">
    {{#onlyend}}<input id="only_end" type="hidden" name="only_end" value="true">{{/onlyend}}
    {{#nostudents}}<span style="color: orange; ">{{# str}}syncnostudents, block_evasys_sync{{/str}}</span>{{/nostudents}}
    {{#invalididnumberwarning}}<div style="color: red; ">{{# str}}warning_invalid_idnumber, block_evasys_sync{{/str}}</div>{{/invalididnumberwarning}}
    {{#invalidextrawarning}}<div style="color: red; ">{{# str}}warning_invalid_extra, block_evasys_sync{{/str}}</div>{{/invalidextrawarning}}
    {{#courses}}
        {{#.}}
            <div title="{{# str}}evacourseid, block_evasys_sync{{/str}} {{evasyscourseid}}
                {{# str}}evainternalid, block_evasys_sync{{/str}} {{technicalid}}">
                <span class="emphasize">{{# str}}evacoursename, block_evasys_sync{{/str}}</span> {{evasyscoursetitle}}</div>
            <div>
                <span class="emphasize">{{# str}}countparticipants, block_evasys_sync{{/str}}</span>
                <span class="block_evasys_participants">{{c_participants}}</span>
            </div>
            <div class="emphasize">{{# str}}surveys, block_evasys_sync{{/str}}</div>
            <ol>
                {{#surveys}}
                    {{#.}}
                        <li>
                            <span class="emphasize">{{formName}}</span><br/>
                            <span class="emphasize">{{# str}}surveystatus, block_evasys_sync{{/str}}</span> {{surveystatus}} <br/>
                            <span class="emphasize">{{# str}}finishedforms, block_evasys_sync{{/str}}</span> {{amountOfCompleteForms}} <br/>
                        </li>
                    {{/.}}
                {{/surveys}}
            </ol>
    {{/.}}
{{/courses}}
{{#coursemappingenabled}}
    {{> block_evasys_sync/coursemapping}}
{{/coursemappingenabled}}
<div class = "linedrawer"></div>
{{#warning}}<div style="color: red; ">{{# str}}warning_inconsistent_send_states, block_evasys_sync{{/str}}</div>{{/warning}}
{{#inconsistentmodeswarning}}<div style="color: orange; ">{{# str}}warning_inconsistent_modes, block_evasys_sync{{/str}}</div>{{/inconsistentmodeswarning}}
{{#emailsentnotice}}<div style="color: limegreen; ">{{# str}}emailsentnotice, block_evasys_sync{{/str}}</div>{{/emailsentnotice}}
{{#evaluationperiodsetnotice}}<div style="color: limegreen; ">{{# str}}evalperiodsetnotice, block_evasys_sync{{/str}}</div>{{/evaluationperiodsetnotice}}
    {{#showcontrols}}
        {{#startoption}}
            <div>
                <label for="reactivate">
                    <input type="checkbox" id="reactivate">
                    {{#enddisabled}}
                        {{# str}}reactivate_invite, block_evasys_sync{{/str}}
                    {{/enddisabled}}
                    {{^enddisabled}}
                        {{# str}}reactivate_startdate, block_evasys_sync{{/str}}
                    {{/enddisabled}}
                </label>
            </div>
        {{/startoption}}
        {{#usestandardtimelayout}}
                <div class="flexmargin">
                    <input type="hidden" id="activate_standard" name="activate_standard" value="true">
                    <input class="margin" type="checkbox" id="deactivate_standard" name="deactivate_standard" disabled>
                    <label for="deactivate_standard">{{#str}}activate_nonstandard_time, block_evasys_sync{{/str}}</label>
                </div>
        {{/usestandardtimelayout}}
        <fieldset{{#usestandardtimelayout}} id="inputfieldset" disabled {{/usestandardtimelayout}}>
            {{^usestandardtimelayout}}{{# str}}evaluationperiod, block_evasys_sync{{/str}}<br />{{/usestandardtimelayout}}
            {{#usestandardtimelayout}}<span id="evaluationperiod">
                {{# str}}standard_period, block_evasys_sync{{/str}}
            </span><br/>{{/usestandardtimelayout}}
            {{#direct}}
                <div>
                    <label for="direct_invite">
                        <input type="checkbox" id="direct_invite" name="direct_invite" value="true" {{startdisabled}}>
                        {{# str}}direct_invite_checkbox, block_evasys_sync{{/str}}
                    </label>
                </div>
            {{/direct}}
            {{# str}}startondate, block_evasys_sync{{/str}}<br />
            {{< block_evasys_sync/datetimepicker}}
                {{$id}}start{{/id}}
                {{$disabled}}{{#startdisabled}}disabled{{/startdisabled}}{{/disabled}}
            {{/block_evasys_sync/datetimepicker}}
            {{#direct}}
            {{/direct}}
        <br/>{{# str}}endondate, block_evasys_sync{{/str}}<br/>
            {{< block_evasys_sync/datetimepicker}}
                {{$id}}end{{/id}}
                {{$disabled}}{{#enddisabled}}disabled{{/enddisabled}}{{/disabled}}
            {{/block_evasys_sync/datetimepicker}}
        </fieldset>
        {{^direct}}
            <input id='evasyssubmitbutton' class="in_box_button" type="submit" value="{{# str}}invitestudents, block_evasys_sync{{/str}}" {{#disablesubmit}}disabled{{/disablesubmit}}/>
        {{/direct}}
        {{#direct}}
            <input id='evasyssubmitbutton' class="in_box_button" type="submit" value="{{# str}}planorstartevaluation, block_evasys_sync{{/str}}" {{#disablesubmit}}disabled{{/disablesubmit}}/>
        {{/direct}}
    {{/showcontrols}}
</form>