{{!
@template block_evasys_sync/block
Example context (json):
{
    "href": "http://172.17.0.1/moodle/blocks/evasys_sync/invite.php",
    "sesskey": "123",
    "courseid" : "4",
    "courses": [],
    "showcontrols": 0,
    "direct": 1
}
}}

<form action="{{href}}" method="post" id="evasys_block_form">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="courseid" value="{{courseid}}">
    {{#startdisabled}}<input id="only_end" type="hidden" name="only_end" value="true">{{/startdisabled}}
    {{#nostudents}}<span style="color: orange; ">{{# str}}syncnostudents, block_evasys_sync{{/str}}</span>{{/nostudents}}
    {{#courses}}
        {{#.}}
            <div title="{{# str}}evacourseid, block_evasys_sync{{/str}} {{evasyscourseid}}&#13;&#10;{{# str}}evainternalid, block_evasys_sync{{/str}} {{technicalid}}">
                <span class="emphasize">{{# str}}evacoursename, block_evasys_sync{{/str}}</span> {{evasyscoursetitle}}</div>
            <div>
                <span class="emphasize">{{# str}}countparticipants, block_evasys_sync{{/str}}</span>
                <span class="block_evasys_participants">{{c_participants}}</span>
            </div>
            <div class="emphasize">{{# str}}surveys, block_evasys_sync{{/str}}</div>
            <ol>
                {{#surveys}}
                    {{#.}}
                        <li>
                            <span class="emphasize">{{formName}}</span><br/>
                            <span class="emphasize">{{# str}}surveystatus, block_evasys_sync{{/str}}</span> {{surveystatus}} <br/>
                            <span class="emphasize">{{# str}}finishedforms, block_evasys_sync{{/str}}</span> {{amountOfCompleteForms}} <br/>
                        </li>
                    {{/.}}
                {{/surveys}}
            </ol>
        {{/.}}
    {{/courses}}
{{#warning}}<div style="color: red; ">{{# str}}warning_inconsistent_states, block_evasys_sync{{/str}}</div>{{/warning}}
    {{#showcontrols}}
        <fieldset>
            {{#startoption}}
                <div>
                    <label for="reactivate">
                        <input type="checkbox" id="reactivate">
                        {{# str}}reactivate_invite, block_evasys_sync{{/str}}
                    </label>
                </div>
            {{/startoption}}
            {{# str}}evaluationperiod, block_evasys_sync{{/str}}<br />
            {{#direct}}
                <div>
                    <label for="direct_invite">
                        <input type="checkbox" id="direct_invite" name="direct_invite" value="true" {{startdisabled}}>
                        {{# str}}direct_invite_checkbox, block_evasys_sync{{/str}}
                    </label>
                </div>
            {{/direct}}
            {{# str}}startondate, block_evasys_sync{{/str}}<br />
            {{< block_evasys_sync/datetimepicker}}
                {{$id}}start{{/id}}
                {{$disabled}}{{startdisabled}}{{/disabled}}
            {{/block_evasys_sync/datetimepicker}}
            {{#direct}}
            {{/direct}}
        <br/>{{# str}}endondate, block_evasys_sync{{/str}}<br/>
            {{< block_evasys_sync/datetimepicker}}
                {{$id}}end{{/id}}
                {{$disabled}}{{enddisabled}}{{/disabled}}
            {{/block_evasys_sync/datetimepicker}}
        </fieldset>
        {{^direct}}
            <input id='evasyssubmitbutton' class="in_box_button" type="submit" value="{{# str}}invitestudents, block_evasys_sync{{/str}}" {{enddisabled}}/>
        {{/direct}}
        {{#direct}}
            <input id='evasyssubmitbutton' class="in_box_button" type="submit" value="{{# str}}planorstartevaluation, block_evasys_sync{{/str}}" {{enddisabled}}/>
        {{/direct}}
    {{/showcontrols}}
</form>
{{#coursemappingenabled}}
    {{> block_evasys_sync/coursemapping}}
{{/coursemappingenabled}}