{{!
@template block_evasys_sync/coursemapping
Example context (json):
{
    { "sesskey": "123" },
    { "courseid" : "4" },
}
}}

<form action="../blocks/evasys_sync/addcourse.php">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="id" value="{{courseid}}">
    <input type="submit" value="{{# str}}change_mapping, block_evasys_sync{{/str}}" {{#disabled}}disabled{{/disabled}}>
</form>