{{!
@template block_evasys_sync/coursemapping
Example context (json):
{
    "sesskey": "123",
    "courseid" : "4"
}
}}

<form action="../blocks/evasys_sync/addcourse.php">
    <input type="hidden" name="id" value="{{courseid}}">
    <button type="submit" class="iconsmall link-button" {{#disabled}}disabled{{/disabled}}>
        {{#pix}}i/edit, core{{/pix}}
        {{# str}}change_mapping, block_evasys_sync{{/str}}
        {{#optional}}{{# str}}optional, block_evasys_sync{{/str}}{{/optional}}
    </button>
</form>