{{!
@template block_evasys_sync/coursemapping
Example context (json):
{
    "sesskey": "123",
    "courseid" : "4"
}
}}

<a class="iconsmall" href="../blocks/evasys_sync/addcourse.php?id={{courseid}}">
    {{#pix}}i/edit, core{{/pix}}
    {{# str}}change_mapping, block_evasys_sync{{/str}}
    {{#optional}}{{# str}}optional, block_evasys_sync{{/str}}{{/optional}}
</a>
