<select name="day_{{$id}}id{{/id}}" {{$disabled}}{{/disabled}}>
        <option {{$day_1}}{{/day_1}}>1</option>
        <option {{$day_2}}{{/day_2}}>2</option>
        <option {{$day_3}}{{/day_3}}>3</option>
        <option {{$day_4}}{{/day_4}}>4</option>
        <option {{$day_5}}{{/day_5}}>5</option>
        <option {{$day_6}}{{/day_6}}>6</option>
        <option {{$day_7}}{{/day_7}}>7</option>
        <option {{$day_8}}{{/day_8}}>8</option>
        <option {{$day_9}}{{/day_9}}>9</option>
        <option {{$day_10}}{{/day_10}}>10</option>
        <option {{$day_11}}{{/day_11}}>11</option>
        <option {{$day_12}}{{/day_12}}>12</option>
        <option {{$day_13}}{{/day_13}}>13</option>
        <option {{$day_14}}{{/day_14}}>14</option>
        <option {{$day_15}}{{/day_15}}>15</option>
        <option {{$day_16}}{{/day_16}}>16</option>
        <option {{$day_17}}{{/day_17}}>17</option>
        <option {{$day_18}}{{/day_18}}>18</option>
        <option {{$day_19}}{{/day_19}}>19</option>
        <option {{$day_20}}{{/day_20}}>20</option>
        <option {{$day_21}}{{/day_21}}>21</option>
        <option {{$day_22}}{{/day_22}}>22</option>
        <option {{$day_23}}{{/day_23}}>23</option>
        <option {{$day_24}}{{/day_24}}>24</option>
        <option {{$day_25}}{{/day_25}}>25</option>
        <option {{$day_26}}{{/day_26}}>26</option>
        <option {{$day_27}}{{/day_27}}>27</option>
        <option {{$day_28}}{{/day_28}}>28</option>
        <option {{$day_29}}{{/day_29}}>29</option>
        <option {{$day_30}}{{/day_30}}>30</option>
        <option {{$day_31}}{{/day_31}}>31</option>
</select>
-
<select name="month_{{$id}}id{{/id}}" {{$disabled}}{{/disabled}}>
    <option {{$month_jan}}{{/month_jan}}>{{# str}}January, block_evasys_sync{{/str}}</option>
    <option {{$month_feb}}{{/month_feb}}>{{# str}}February, block_evasys_sync{{/str}}</option>
    <option {{$month_mar}}{{/month_mar}}>{{# str}}March, block_evasys_sync{{/str}}</option>
    <option {{$month_apr}}{{/month_apr}}>{{# str}}April, block_evasys_sync{{/str}}</option>
    <option {{$month_may}}{{/month_may}}>{{# str}}May, block_evasys_sync{{/str}}</option>
    <option {{$month_jun}}{{/month_jun}}>{{# str}}June, block_evasys_sync{{/str}}</option>
    <option {{$month_jul}}{{/month_jul}}>{{# str}}July, block_evasys_sync{{/str}}</option>
    <option {{$month_aug}}{{/month_aug}}>{{# str}}August, block_evasys_sync{{/str}}</option>
    <option {{$month_sep}}{{/month_sep}}>{{# str}}September, block_evasys_sync{{/str}}</option>
    <option {{$month_oct}}{{/month_oct}}>{{# str}}October, block_evasys_sync{{/str}}</option>
    <option {{$month_nov}}{{/month_nov}}>{{# str}}November, block_evasys_sync{{/str}}</option>
    <option {{$month_dec}}{{/month_dec}}>{{# str}}December, block_evasys_sync{{/str}}</option>
</select>
-
<select name="year_{{$id}}id{{/id}}" {{$disabled}}{{/disabled}}>
        <option {{$year_2000}}{{/year_2000}}>2000</option>
        <option {{$year_2001}}{{/year_2001}}>2001</option>
        <option {{$year_2002}}{{/year_2002}}>2002</option>
        <option {{$year_2003}}{{/year_2003}}>2003</option>
        <option {{$year_2004}}{{/year_2004}}>2004</option>
        <option {{$year_2005}}{{/year_2005}}>2005</option>
        <option {{$year_2006}}{{/year_2006}}>2006</option>
        <option {{$year_2007}}{{/year_2007}}>2007</option>
        <option {{$year_2008}}{{/year_2008}}>2008</option>
        <option {{$year_2009}}{{/year_2009}}>2009</option>
        <option {{$year_2010}}{{/year_2010}}>2010</option>
        <option {{$year_2011}}{{/year_2011}}>2011</option>
        <option {{$year_2012}}{{/year_2012}}>2012</option>
        <option {{$year_2013}}{{/year_2013}}>2013</option>
        <option {{$year_2014}}{{/year_2014}}>2014</option>
        <option {{$year_2015}}{{/year_2015}}>2015</option>
        <option {{$year_2016}}{{/year_2016}}>2016</option>
        <option {{$year_2017}}{{/year_2017}}>2017</option>
        <option {{$year_2018}}{{/year_2018}}>2018</option>
        <option {{$year_2019}}{{/year_2019}}>2019</option>
        <option {{$year_2020}}{{/year_2020}}>2020</option>
        <option {{$year_2021}}{{/year_2021}}>2021</option>
        <option {{$year_2022}}{{/year_2022}}>2022</option>
        <option {{$year_2023}}{{/year_2023}}>2023</option>
        <option {{$year_2024}}{{/year_2024}}>2024</option>
        <option {{$year_2025}}{{/year_2025}}>2025</option>
        <option {{$year_2026}}{{/year_2026}}>2026</option>
        <option {{$year_2027}}{{/year_2027}}>2027</option>
        <option {{$year_2028}}{{/year_2028}}>2028</option>
        <option {{$year_2029}}{{/year_2029}}>2029</option>
        <option {{$year_2030}}{{/year_2030}}>2030</option>
        <option {{$year_2031}}{{/year_2031}}>2031</option>
        <option {{$year_2032}}{{/year_2032}}>2032</option>
        <option {{$year_2033}}{{/year_2033}}>2033</option>
        <option {{$year_2034}}{{/year_2034}}>2034</option>
        <option {{$year_2035}}{{/year_2035}}>2035</option>
        <option {{$year_2036}}{{/year_2036}}>2036</option>
        <option {{$year_2037}}{{/year_2037}}>2037</option>
        <option {{$year_2038}}{{/year_2038}}>2038</option>
        <option {{$year_2039}}{{/year_2039}}>2039</option>
        <option {{$year_2040}}{{/year_2040}}>2040</option>
        <option {{$year_2041}}{{/year_2041}}>2041</option>
        <option {{$year_2042}}{{/year_2042}}>2042</option>
        <option {{$year_2043}}{{/year_2043}}>2043</option>
        <option {{$year_2044}}{{/year_2044}}>2044</option>
        <option {{$year_2045}}{{/year_2045}}>2045</option>
        <option {{$year_2046}}{{/year_2046}}>2046</option>
        <option {{$year_2047}}{{/year_2047}}>2047</option>
        <option {{$year_2048}}{{/year_2048}}>2048</option>
        <option {{$year_2049}}{{/year_2049}}>2049</option>
        <option {{$year_2050}}{{/year_2050}}>2050</option>
</select>
<br/>
<select name="hour_{{$id}}id{{/id}}" {{$disabled}}{{/disabled}}>
    <option>00</option>
    <option>01</option>
    <option>02</option>
    <option>03</option>
    <option>04</option>
    <option>05</option>
    <option>06</option>
    <option>07</option>
    <option>08</option>
    <option>09</option>
    <option>10</option>
    <option>11</option>
    <option selected>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
</select>
:
<select name="minute_{{$id}}id{{/id}}" {{$disabled}}{{/disabled}}>
    <option selected>00</option>
    <option>01</option>
    <option>02</option>
    <option>03</option>
    <option>04</option>
    <option>05</option>
    <option>06</option>
    <option>07</option>
    <option>08</option>
    <option>09</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
    <option>25</option>
    <option>26</option>
    <option>27</option>
    <option>28</option>
    <option>29</option>
    <option>30</option>
    <option>31</option>
    <option>32</option>
    <option>33</option>
    <option>34</option>
    <option>35</option>
    <option>36</option>
    <option>37</option>
    <option>38</option>
    <option>39</option>
    <option>40</option>
    <option>41</option>
    <option>42</option>
    <option>43</option>
    <option>44</option>
    <option>45</option>
    <option>46</option>
    <option>47</option>
    <option>48</option>
    <option>49</option>
    <option>50</option>
    <option>51</option>
    <option>52</option>
    <option>53</option>
    <option>54</option>
    <option>55</option>
    <option>56</option>
    <option>57</option>
    <option>58</option>
    <option>59</option>
</select>